/* CSS HEX */
--maximum-blue-green: #3fc1c0ff;
--maximum-blue-green-2: #20bac5ff;
--pacific-blue: #00b2caff;
--pacific-blue-2: #04a6c2ff;
--blue-green: #0899baff;
--cg-blue: #0f80aaff;
--sapphire-blue: #16679aff;
--lapis-lazuli: #1a5b92ff;
--usafa-blue: #1c558eff;
--yale-blue: #1d4e89ff;
